mixin setLazyPicture(className,folder,name,ext,alt)
	picture(class=`${className}`)
		source(srcset="../gifs/preloader.gif" data-srcset=`..//webp-img/${folder}/${name}.webp` class="lazyload" type="image/webp")
		img(src="../gifs/preloader.gif" data-src=`..//min-img/${folder}/${name}.${ext}` class="lazyload" alt=`${alt}`)
