mixin setPicture(className,folder,name,ext,alt)
    picture(class=`${className}`) 
        source(srcset=`/dist/webp-img/${folder}/${name}.webp` class="" type="image/webp")
        img(src=`/dist/min-img/${folder}/${name}.${ext}` class="" alt=`${alt}`)