mixin setPicture(className,folder,name,ext,alt)
    picture(class=`${className}`) 
        source(srcset=`/dist/webp-img/${folder}/${name}.webp` class="lazyload1 lazypreload1" type="image/webp")
        img(src=`/dist/min-img/${folder}/${name}.${ext}` class="lazyload1 lazypreload1" alt=`${alt}`)