mixin setRatioPicture(className,folder,name,ext,width,height)
    picture(class=`${className}` data-src-w=`${width}` data-src-h=`${height}` )
        source(srcset=`/webp-img/${folder}/${name}.webp` type="image/webp")
        img(src=`/min-img/${folder}/${name}.${ext}` alt=`${alt}`)